/* normalizing all elements */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* color pallete */
/* RICH BLACK #010607 */
/* ROYAL BLUE #0A2463 */
/* WHITE SMOKE #F7F7F2 */
/* CYAN #01BAEF */
/* BLUEBERRY #4392F1 */

/* main tags */
body{
  background:#111;
  color:#eee;
}

svg{
  vertical-align:top;
}

/* main components */
.name{
  border-bottom: 3px solid #ddd;
  width:60%;
  margin: 0 auto;
  font-size:60px;
  text-align: center;
  padding:10px 0;
}

.tech, .projects{
  /* height:20vh; */
  /* border:2px solid white; */
}

/* tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity .5s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    /* visibility: visible; */
    opacity: 1;
}

/* tech components */
.tech_nav{
  display:flex;
  justify-content: center;
  padding:20px 60px;
}

.tech_item{
  /* border:1px solid green; */
  width:15%;
  /* height:20vh; */
  /* background:#4392F1; */
  background:#444;
  transform:skew(-200deg);
  display:flex;
  justify-content:center;
  /* align-items:center; */
  padding:10px 0;
  cursor:pointer;
}

.tech_dossier{
  text-align: center;
  padding:20px;
  background:#222;
  width:80%;
  margin:0 auto;
  border:2px solid purple;
}

.tech_img{
  /* border:1px solid red; */
  transform:skew(200deg);
  width:60%;
  height:100%;
  /* height:10vh; */
  /* margin: 0 auto; */
  text-align:center;
}

/* project components */
.project_list{
  display: flex;
  justify-content: space-around;
  align-content:center;
  flex-wrap:wrap;
}

.project_item{
  border: 6px solid #01BAEF;
  width:45%;
}