/* normalizing all elements */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* color pallete */
/* RICH BLACK #010607 */
/* ROYAL BLUE #0A2463 */
/* WHITE SMOKE #F7F7F2 */
/* CYAN #01BAEF */
/* BLUEBERRY #4392F1 */

/* main tags */
body{
  background:#111;
  color:#eee;
}

h1, h2, h3, h4, h5, h6, .quotes::before, .quotes::after{
  font-family: 'Oswald', sans-serif;
}

p{
font-family: 'Eczar', serif;
font-size:20px;
}

svg{
  vertical-align:top;
}

/* main components */
.name{
  border-bottom: 4px solid #04a8e6;
  width:40%;
  margin: 0 auto;
  font-size:60px;
  text-align: center;
  padding-top:10px;
  font-variant: small-caps;
}

.tag{
  color:#ff3c11;
}

.red{
  color:#ff3c11;
}

.blue{
  color:#04a8e6;
}

.quotes::before{
  content:'[ ';
  color:#ff3c11;
}

.quotes::after{
  content:' ]';
  color:#ff3c11;
}

.tech, .projects{
  /* height:20vh; */
  /* border:2px solid white; */
}

.footer{
  padding:20px;
  background:black;
  text-align:center;
}

/* about me components */
.about_me_info{
  margin:0 auto;
  width:80%;
  padding:40px 0;
}

.about_me_p{
  margin:20px 0;
  padding: 20px 40px 40px;
  border-bottom: 3px solid #04a8e6;
  border-left:3px solid #04a8e6;
}

/* tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: 150%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    top: 100%;
    opacity: 0;
    transition: opacity .2s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

/* tech components */
.tech_nav{
  display:flex;
  justify-content: center;
  margin:20px 55px;
  padding:20px 0;
}

.tech_item{
  width:15%;
  transform:skew(-200deg);
  display:flex;
  justify-content:center;
  padding:30px 0;
  cursor:pointer;
}

.tech_dossier{
  text-align: center;
  padding:30px;
  background:black;
  width:65%;
  margin:70px auto;
  border-radius:5px;
  position: relative;
}

.tech_header{
  border-bottom:2px solid #04a8e6;
  padding-bottom:10px;
  width:50%;
  margin:0 auto;
}

.tech_p{
  padding:10px 0;
}

.tech_img{
  transform:skew(200deg);
  width:60%;
  height:100%;
  text-align:center;
}

.angle_bracket{
  position:relative;
}

.angle_bracket:hover{
  background:black;
}

.angle_bracket::before, .angle_bracket::after, .tech_dossier::before, .tech_dossier::after{
  content:'';
  height:40%;
  width:40%;
  position:absolute;
}

.tech_dossier::before, .tech_dossier::after{
  height:45%;
  width:10%;
}

.angle_bracket:hover::before, .tech_dossier::before{
  border-left:3px solid #04a8e6;
  border-bottom:3px solid #04a8e6;
  bottom:0;
  left:0;
}
.angle_bracket:hover::after, .tech_dossier::after{
  border-right:3px solid #ff3c11;
  border-top:3px solid #ff3c11;
  top:0;
  right:0;
}

/* project components */
.project_list{
  display: flex;
  justify-content: space-around;
  align-content:space-around;
  flex-wrap:wrap;
  padding:20px;
  margin-top:40px;
}

.project_item{
  border-bottom: 6px solid #04a8e6;
  border-left: 6px solid #04a8e6;
  padding:10px 20px 0;
  width:45%;
  margin: 10px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.project_item::before{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #04a8e6;
  position:absolute;
  bottom:0;
  left:0;
}

.project_item::after{
  content:"";
  width: 15%;
  height: 20%;
  /* border-style: solid; */
  border-top:6px solid #ff3c11;
  border-right:6px solid #ff3c11;
  /* border-width: 0 50px 50px 0; */
  /* border-color: red red transparent transparent; */
  position:absolute;
  top:0;
  right:0;
}

.project_text p{
  padding:15px 0;
}

.project_author{
  font-weight:normal;
}

.project_tech_stack{
  border-right:1px solid white;
  padding:0 10px;
}

.project_tech_stack:last-child{
  border-right:2px solid transparent;
}

.project_tech_stack:first-child{
  padding-left:0;
}

.project_data{
  margin-top:20px;
  padding:10px 20px 0;
  display:flex;
  justify-content:space-evenly;
  /* align-content:center; */
  position: relative;
}

.project_data::before{
  content:"";
  border-top:3px solid #ff3c11;
  width:70%;
  top:0;
  position: absolute;
}

.project_icon{
  text-align: center;
  padding:0 0 10px;
  margin-top: 5px;
  border-bottom:2px solid transparent
}

.project_link{
  width:10%;
  position: relative;
}

.project_link:hover::before, .project_link:hover::after{
  content:"";
  border-style: solid;
  position: absolute;
  top:30%;
}

.project_link:hover::before{
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #04a8e6;
  left:0;
  margin-left:-15px;
}

.project_link:hover::after{
  border-width: 10px 10px 10px 0;
  border-color: transparent #ff3c11 transparent transparent;
  right:0;
  margin-right:-15px;
}

/* contact components */
.contact_list{
  padding:20px;
  display:flex;
  justify-content:space-evenly;
  align-content:center;
}

.contact_item{
  /* padding:10px 20px; */
  /* color:white; */
}

.contact_item{
  color:white;
  padding:10px 20px;
  border-bottom: 3px solid transparent;
}

.contact_item:hover{
  color:#ff3c11;
  border-bottom: 3px solid #04a8e6;
}
